user webapp;
pid /run/nginx.pid;

http {
    server {
	listen {{ nginx_port }};
	server_name localhost;

	root /opt/static-sites;
	index index.html;

	location / {
		try_files $uri $uri/ =404;
		}
	}
}
